Thanks, Ashley, these all look fine.      

Daniel, could the default sort be by the first column, Designator?

Also, Ashley and I discussed adding a blurb above the table, about the examples and also encouraging all instructors to review and update syllabi per the current year’s syllabus guidelines.  We’d like to link the document that’s updated annually in August.   It’s also provided in the vpue’s policies webpage – not sure what the status of that the vpue webpages are, if they are in the queue for revision or being updated.  are you who we coordinate with?   https://vpue.wsu.edu/policies/

on the UCORE website, I was thinking that simply linking the current syllabus guidelines document on the sample syllabus page would be the cleanest.  What do you suggest?  

Thank you,

Kimberly 

From: Matson, Ashley 
Sent: Thursday, April 27, 2017 9:42 AM
To: Green, Kimberly <kimberly_green@wsu.edu>; Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Subject: RE: sample syllabus added to UCORE website

Kimberly and Daniel,

Per our discussion Monday, I added the sample syllabi that we  have received to the UCORE website. I also corrected the footer in the Hutchens Com 101 syllabus and uploaded the corrected document. 

Kimberly – would you like to take a look at the examples and confirm that you’d like to use all of them?

Daniel – will you please let me know if I missed any steps in uploading/naming the documents, adding them to the table, etc.? 

Thank you!

Ashley

From: Green, Kimberly 
Sent: Monday, April 17, 2017 6:32 PM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: sample syllabus / a new subpage for main UCORE website / new subpage requested by Mary Wack

HI Daniel,

I think we’ll get some sample syllabi from the UCORE committee, as a short term solution.  Attaching one now.  

My thought is a table that people can sort  --  we should end up with several for each designator, I hope, so an instructor could see three SSCI’s pretty easily, for example.   so perhaps headings could be UCORE designator, course, term, instructor. 

We’ve used the sortable table on our ATL’s website, and I think it is straightforward. https://atl.wsu.edu/program-assessment-reporting/institutional-assessment-summaries/

Or maybe you have another idea?   If possible, I’d like something that my office can help manage, such as put up new syllabi as we get strong samples.   (I have to talk to Mary W. but I’m thinking Ashley could assist here, and that way build her familiarity with wordpress for basic updates.)

thanks,

Kimberly 


From: Green, Kimberly 
Sent: Wednesday, March 29, 2017 6:38 PM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a new subpage for main UCORE website / new subpage requested by Mary Wack

Beautiful!  Thanks, Daniel.   

I'll meet with UCORE on monday, about the updated Handbook.  I think Mary W wanted to over time, collect one or more strong samples per designator.

Perhaps behind the firewall...  anyway, more on that later, this is a perfect placeholder.

Kimberly
________________________________________
From: Rieck, Daniel Carl
Sent: Wednesday, March 29, 2017 5:44 PM
To: Green, Kimberly
Cc: Lanier, Mary Sanchez
Subject: RE: a new subpage for main UCORE website / new subpage requested by Mary Wack
How will this work: https://ucore.wsu.edu/resources/sample-syllabi/
I created a unique animation for the page, this time based on an old sample syllabus I found on ugr.wsu.edu.
 
—Daniel
 
From: Green, Kimberly 
Sent: Wednesday, March 29, 2017 11:10 AM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a new subpage for main UCORE website / new subpage requested by Mary Wack
 
wonderful, thanks
Kimberly 
 
From: Rieck, Daniel Carl 
Sent: Wednesday, March 29, 2017 11:10 AM
To: Green, Kimberly <kimberly_green@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a new subpage for main UCORE website / new subpage requested by Mary Wack
 
Hi Kimberly,
 
Just wanted to get back to you to let you now I’m on the job 😊 I expect to have something for you later today.
 
Cheers,
 
—Daniel
 
From: Green, Kimberly 
Sent: Tuesday, March 28, 2017 10:26 AM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a new subpage for main UCORE website / new subpage requested by Mary Wack
Importance: High
 
Hi Daniel,
 
for the accreditation report, Mary has just requested a new subpage on the main UCORE site (need the url, not linked anywhere yet) for Sample UCORE Syllabi.
 
Could you set one up, similar to the UCORE Handbook page?    We could use the url in the next couple of days, if possible. 
 
thank you,
 
Kimberly 
 
From: Green, Kimberly 
Sent: Monday, March 27, 2017 6:27 PM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a few things for main UCORE website / added quote for UCORE main website, Carol Schneider
 
super, thanks, Daniel.  (Appreciate your not just going with my erroneous original suggestion – not sure what I was thinking ) 
Kimberly
 
From: Rieck, Daniel Carl 
Sent: Monday, March 27, 2017 6:21 PM
To: Green, Kimberly <kimberly_green@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a few things for main UCORE website / added quote for UCORE main website, Carol Schneider
 
Kimberly:
•	Glad you like the graphic. I will be happy to add it to the nav bar. And glad to hear the handbook update project is going well!
•	I think that is a great idea to include it under the Vision of Gen Ed section—thank you 😊! I will first give it a try with an initially collapsed section, which I expect will function quite well, and get back to you.
 
—Daniel
 
From: Green, Kimberly 
Sent: Monday, March 27, 2017 6:14 PM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a few things for main UCORE website / added quote for UCORE main website, Carol Schneider
 
Thanks very much, Daniel, please see notes below. Happy spring – a busy time!
 
Kimberly 
 
From: Rieck, Daniel Carl 
Sent: Monday, March 27, 2017 4:51 PM
To: Green, Kimberly <kimberly_green@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a few things for main UCORE website / added quote for UCORE main website, Carol Schneider
 
Hi Kimberly,
 
I am doing well! Thank you for the reminders on what still needs to be done on the UCORE website, I appreciate it—right around SURCA is a particularly busy time for me.  
Understandably busy – I only got to walk thru SURCA for about ten minutes, then listened to the awards as they were streamed while I worked on the accred rpt…. 
 
I have finished creating the UCORE Handbook page + stable URL: https://ucore.wsu.edu/resources/handbook/. How does that work?  
Great, love the graphic, and I just linked the page in the accred rpt.  When you have a few minutes, could you also link it in the nav bar, under Resources?  Thanks!  (the handbook update project is moving along pretty well, hope to have it approved by the UCORE committee in May.)
 
I also posted Dr. Schneider’s quote and picture to the home page (in place of David Kearns’ quote and picture), and I think it looks great and significantly improves the diversity of the page’s messaging.  Agree, thanks!
 
I still need to construct the Brief History of UCORE page. I wanted to ask you for a quick point of clarification: where would you like it to reside in the Spine? On the main UCORE website, there currently is no About UCORE Assessment section (however, there is such a section over on the UCORE Assessment website). I could easily add About UCORE Assessment to the main UCORE site Spine, but it seems to me like it would be a little out of place. 
agree, seems likely odd and confusing there.   
I suppose an alternative approach would be to simply put it under the faculty section (but not include it in the list of eight buttons on the For Faculty page). What do you think?
good questions … how about under the Vision of Gen Ed page for faculty, at the bottom in a new section (perhaps a drop down that starts out closed?)   WSU’s General Education 2012 Revamp and Prior History…. It is a little bit for faculty, and also for accreditors (WSU didn’t just start gen ed a few years ago) . Would this work, do you think?   In this location, I don’t think it would need to appear in the nav list at all.  How does that sound?
 
Kind regards,
 
—Daniel
 
From: Green, Kimberly 
Sent: Friday, March 24, 2017 4:43 PM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: a few things for main UCORE website / added quote for UCORE main website, Carol Schneider
Importance: High
 
Hi Daniel,
 
Hope things are going well.  a few things for the UCORE main website, in order of importance:
 
UCORE Handbook: (forgive me if I’ve already asked and forgotten), could you set up a subpage for the UCORE Handbook, which says, revision in process, coming soon, with a stable url, so I can put a link into the accreditation report?  could use this by Wednesday – is that do-able?
 
Brief history of UCORE: could you add as a subpage under About UCORE Asmt, perhaps called Historical  or Gen Ed Revision or GenEd History?  There’s draft content on the word doc and a PDF report to link where indicated. 
 
follow up on the photo and quote below
 
let me know if you have questions, Daniel, and thank you,
 
Kimberly 
 
From: Rieck, Daniel Carl 
Sent: Wednesday, March 15, 2017 1:02 PM
To: Green, Kimberly <kimberly_green@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: RE: added quote for UCORE main website, Carol Schneider
 
What an excellent quote—it will work great! How’s this for a photo of her to go along with it?
 
 
—Daniel
 
From: Green, Kimberly 
Sent: Wednesday, March 15, 2017 12:55 PM
To: Rieck, Daniel Carl <daniel.rieck@wsu.edu>
Cc: Lanier, Mary Sanchez <sanchez@vetmed.wsu.edu>
Subject: added quote for UCORE main website, Carol Schneider
 
Hi Daniel,
 
Mary W asked us to find a quote by Carol Schneider to add to the homepage of the main UCORE website, and here’s what I found:
 
“Liberal education is not a static tradition of learning. Rather, it is and always has been a form of education that is richly and generatively engaged with the life and needs of the larger society …Together, we are finding more powerful ways to teach students how to make sense of complexity; how to find, evaluate, and use new evidence; and how to apply their knowledge to real problems. While traditionally we have thought of these analytical and inquiry capacities as "intellectual powers," the reality is that, in today's knowledge-fueled society, they are deeply practical skills as well.”
– Dr. Carol Geary Schneider, Past President, AAC&U
 
Could you add this, with hopefully an easy to find photo too?
 
thanks,
 
Kimberly 
 
 
Best,
 
Kimberly
 
Kimberly Green, Director of the Office of Assessment of Teaching and Learning
Washington State University
atl.wsu.edu   509-335-5675
 
